body {
    font-family: "Ubuntu Sans", "Roboto", sans-serif;
}

/* Типографика */

.title {
    width: 50%;
    margin: 40px 0;
}

.title-image {
    display: inline-block;
    width: 40%;
    filter:drop-shadow(0 0 0);
    vertical-align: middle;
}

.title-text {
    vertical-align: middle;
    display: inline-block;
    width: 40%;
}

.project-section-secondary h2 {
    margin: 20px 0 20px 20px;
}

.project-section-secondary p {
    text-wrap:wrap;
}

/* header  */


.primary-header {
    padding: 20px 0;
    color: #fff;
    
}

.second-header {
    background: #000;
}
.logo {
    text-align: start;
    vertical-align: middle;
    text-wrap: nowrap;
    padding-left: 50px;
    
}

.logo img {
    display: inline-block;
    width: 240px;
    min-width: 150px;
}

.logo-text  {
    vertical-align: bottom;
    text-align: start;
    display: inline-block;
}

.primary-nav{
    text-align: end;
}

.primary-nav a {
    display: inline-block;
    margin: 0 20px;
}

.offcanvas-btn {
    display: inline-block;
    background: rgba(0, 0, 0, 0.5) url("offcanvas.svg");
    background-size: cover;
    height: 50px;
    width: 52px;
    border: 0;
    border-radius: 50%;
    vertical-align: middle;
}

/* Sections */

.section-1 {
    height: 300px;
    color: #fff;
    font-size: 26px;
    text-align: center;
}


.section-1-sep {
    background: linear-gradient(0, rgba(0, 0, 0, 1), rgba(0, 0, 0 ,0));
    margin-top: -150px;
}
.section-1-sep img {
    width: 100%;
    
}

.outer-polygon {
    display: inline-block;
    position: relative;
    width: 280px;
    height: 60px;
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
    background-color: #0FCE7E;
}

.block-footer .outer-polygon {
    display:inline-block;
    vertical-align: bottom;
    background-color: #FFF;
    clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
}

.section-2 {
    margin-top: -1px; 
}

.section-2 p {
    margin-top: 50px;
}

.section-2 .img-cut {
    clip-path: polygon(10% 0, 95% 0, 100% 10%, 100% 80%, 90% 100%, 5% 100%, 0% 90%, 0% 20%);
}

.section-2-sep {
    width: 100%;
}





.section-3 {
    padding: 50px 0;
    color: #fff;
   
}

.article {
    padding: 100px 0;
}

.section-3 .article {
    padding: 0 0 50px 0;
}

.section-3-sep {
    
    overflow: hidden;
    background: #0FCE7E;
}

.project-block {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    aspect-ratio: 601 / 335;
   
    background: url("prjct_block.svg");
    background-size: cover;
    background-repeat: no-repeat;
    
    padding-left: 4%; 
    padding-right: 4%;
    margin-bottom: 100px;
}

.project-block.project-block-small {
    aspect-ratio: 336 / 450;
    background: url("project_small.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.block-header {
    height: 15%;
}

.block-header h2 {

    vertical-align: bottom;
    margin-bottom: 0;
}

.project-block.project-block-small .block-header h2 {
    padding-left: 5%;
}
.block-body {
    height: 65%;
    overflow: hidden;
    padding-bottom: 4%;
  
}

.block-footer {
    height: 20%;
    
}



.project-block img {
   
    width: 90%;
    display: inline-block;
    clip-path: polygon(5% 0, 85% 0, 100% 20%, 100% 40%, 98% 44%, 98% 66%, 100% 70%, 100% 90%, 95% 100%, 15% 100%, 0% 80%, 0% 10%);
    
    
}

.project-body p {
    text-align: left;
    vertical-align: middle;
    overflow:hidden;
}

.project-block.project-block-small p {
    margin-top: 4%;
}
.project-block a {
    font-size: 26px;
    background-color: #000;
    color: #FFF;
}


/* Containers */
.background-1 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0 ,0)), linear-gradient(0, rgba(0, 0, 0, 1), rgba(0, 0, 0 ,0)),  url("background.png");
    background-size: 100% 20%, 100% 20%, cover;
    background-repeat: no-repeat;
    background-position: top, bottom, center;
    height: 550px;
}

.background-2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) #0FCE7E;
    background-size: 100% 100px, cover;
    background-repeat: no-repeat;
    background-position: bottom, center;
    padding-bottom: 100px;
}

.background-3 {
    background: #000;
}

.project-section-main {
    background: #000;
}

.project-section-secondary{
    
    background: #0FCE7E;
    border-radius: 10px;
    margin-bottom: 50px;
}




/* Навигация */
.secondary-nav {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    margin-top: -15px;
    padding-bottom: 40px;
}

.secondary-nav a {
    padding: 10px;
}

.breadcrumb {
    margin-bottom: 60px;
}

/* footer */
footer {
    background: #0FCE7E;
    padding-bottom: 20px;
    text-align: center;
}

.footer-logo {
    text-align: center;
}

.footer-logo img {
    display: inline-block;
    vertical-align: middle;
    text-wrap: nowrap;
}

.footer-logo .text {
    display: inline-block;
    max-width: 350px;
    vertical-align: middle;
    text-wrap: nowrap;
    font-size: 10px;
}
.footer-logo h3 {
    font-size: 12px;
}

.footer-logo h4 {
    font-size: 10px;
}

/* Ссылки */
.primary-header a {
    color: #fff;
    text-decoration: none;
}

.primary-header a:hover {
    
    color:#0FCE7E;
}

#contact-button {
    padding: 5px;
    background-color: #0FCE7E;
    border-radius: 12px;
    white-space: nowrap;   
}

#contact-button:hover {
    color: #0FCE7E;
    background-color: #fff;
}

.secondary-nav a {
    color: #000;
    text-decoration: none;
}

.secondary-nav a:hover {
    color: #fff;
}

.breadcrumb a {
    color :#0FCE7E;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #FFF;
    text-decoration: underline;
}

.crop-link  {
    display: flex;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 276px;
    height: 56px;
    align-items: center;
    justify-content: center;
    color: #0FCE7E;
    background: #000;
    text-decoration: none;
   
    font-size: 20px;
    min-width: 80px;
    clip-path: polygon(20% 0, 99% 0, 80% 100%, 1% 100%);
}

.section-1 a:hover {
    font-weight: 500;
    text-decoration: underline;
    color: #000;
    background: #0FCE7E; 
}

.section-1 .outer-polygon:hover {
    background: #000;
}

.project-link {
    color: #aaa;
    clip-path: polygon(20% 0, 80% 0, 99% 100%, 1% 100%);
}

.block-footer .outer-polygon:hover {
    background-color: #000;
}
.project-link:hover {
    font-weight: 500;
    text-decoration: underline;
    color: #000;
    background-color: #FFF;
}


.offcanvas-body a {
    text-align: center;
    color: #0FCE7E;
    
}

/* Кнопки */
.btn-canvas-close {
    height: 40px;
    width: 40px;
    border: 0;
    background: url("close-btn.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

/*Скрипты */

.offcanvas {
    background: #000;
}

.offcanvas-header h2 {
    text-align: center;
}

.canvas-col {
    padding: 14px;
    border-bottom: 2px solid #0FCE7E;
    
}

#canvas-col-last {
    border: 0;
}

#element {
    display: inline;
    color: #0FCE7E;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.typed {
    color: #0FCE7E;
    font-size: 30px;
    text-align: center;
}

.animation {
    opacity: 0;
}

.animation-left {
    transform: translateX(-100px);
}

.animation-right {
    transform: translateX(100px);
}

.animation-top {
    transform: translateY(100px);
}

.animation-rotate-right {
    transform: rotate(10deg)
}

.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translate(0%);
}

/* Bright things in dark environments usually cast that light, giving off a glow */


.hero {
    font-size: clamp(22px, 6vw, 40px);
    line-height: 1;
    display: inline-block;
    color: #fff;
    z-index: 2;
    letter-spacing: 10px;
  

    
  }
  
  .demo {
    height: 100px;
    background: #fff;
  }
  
  .layers {
    position: relative;
  }
  
  .layers::before,
  .layers::after {
    content: attr(data-text);
    position: absolute;
    width: 110px;
    
    z-index: -1;
  }
  
  .layers::before {
    top: 10px;
    left: 15px;
    color: #e0287d;
  }
  
  .layers::after {
    top: 5px;
    left: -10px;
    color: #1bc7fb;
  }
  

  .single-path {
    clip-path: polygon(
      0% 12%,
      53% 12%,
      53% 26%,
      25% 26%,
      25% 86%,
      31% 86%,
      31% 0%,
      53% 0%,
      53% 84%,
      92% 84%,
      92% 82%,
      70% 82%,
      70% 29%,
      78% 29%,
      78% 65%,
      69% 65%,
      69% 66%,
      77% 66%,
      77% 45%,
      85% 45%,
      85% 26%,
      97% 26%,
      97% 28%,
      84% 28%,
      84% 34%,
      54% 34%,
      54% 89%,
      30% 89%,
      30% 58%,
      83% 58%,
      83% 5%,
      68% 5%,
      68% 36%,
      62% 36%,
      62% 1%,
      12% 1%,
      12% 34%,
      60% 34%,
      60% 57%,
      98% 57%,
      98% 83%,
      1% 83%,
      1% 53%,
      91% 53%,
      91% 84%,
      8% 84%,
      8% 83%,
      4% 83%
    );
  }
  
  .paths {
    animation: paths 5s step-end infinite;
  }
  
  @keyframes paths {
    0% {
      clip-path: polygon(
        0% 43%,
        83% 43%,
        83% 22%,
        23% 22%,
        23% 24%,
        91% 24%,
        91% 26%,
        18% 26%,
        18% 83%,
        29% 83%,
        29% 17%,
        41% 17%,
        41% 39%,
        18% 39%,
        18% 82%,
        54% 82%,
        54% 88%,
        19% 88%,
        19% 4%,
        39% 4%,
        39% 14%,
        76% 14%,
        76% 52%,
        23% 52%,
        23% 35%,
        19% 35%,
        19% 8%,
        36% 8%,
        36% 31%,
        73% 31%,
        73% 16%,
        1% 16%,
        1% 56%,
        50% 56%,
        50% 8%
      );
    }
  
    5% {
      clip-path: polygon(
        0% 29%,
        44% 29%,
        44% 83%,
        94% 83%,
        94% 56%,
        11% 56%,
        11% 64%,
        94% 64%,
        94% 70%,
        88% 70%,
        88% 32%,
        18% 32%,
        18% 96%,
        10% 96%,
        10% 62%,
        9% 62%,
        9% 84%,
        68% 84%,
        68% 50%,
        52% 50%,
        52% 55%,
        35% 55%,
        35% 87%,
        25% 87%,
        25% 39%,
        15% 39%,
        15% 88%,
        52% 88%
      );
    }
  
    30% {
      clip-path: polygon(
        0% 53%,
        93% 53%,
        93% 62%,
        68% 62%,
        68% 37%,
        97% 37%,
        97% 89%,
        13% 89%,
        13% 45%,
        51% 45%,
        51% 88%,
        17% 88%,
        17% 54%,
        81% 54%,
        81% 75%,
        79% 75%,
        79% 76%,
        38% 76%,
        38% 28%,
        61% 28%,
        61% 12%,
        55% 12%,
        55% 62%,
        68% 62%,
        68% 51%,
        0% 51%,
        0% 92%,
        63% 92%,
        63% 4%,
        65% 4%
      );
    }
  
    45% {
      clip-path: polygon(
        0% 33%,
        2% 33%,
        2% 69%,
        58% 69%,
        58% 94%,
        55% 94%,
        55% 25%,
        33% 25%,
        33% 85%,
        16% 85%,
        16% 19%,
        5% 19%,
        5% 20%,
        79% 20%,
        79% 96%,
        93% 96%,
        93% 50%,
        5% 50%,
        5% 74%,
        55% 74%,
        55% 57%,
        96% 57%,
        96% 59%,
        87% 59%,
        87% 65%,
        82% 65%,
        82% 39%,
        63% 39%,
        63% 92%,
        4% 92%,
        4% 36%,
        24% 36%,
        24% 70%,
        1% 70%,
        1% 43%,
        15% 43%,
        15% 28%,
        23% 28%,
        23% 71%,
        90% 71%,
        90% 86%,
        97% 86%,
        97% 1%,
        60% 1%,
        60% 67%,
        71% 67%,
        71% 91%,
        17% 91%,
        17% 14%,
        39% 14%,
        39% 30%,
        58% 30%,
        58% 11%,
        52% 11%,
        52% 83%,
        68% 83%
      );
    }
  
    76% {
      clip-path: polygon(
        0% 26%,
        15% 26%,
        15% 73%,
        72% 73%,
        72% 70%,
        77% 70%,
        77% 75%,
        8% 75%,
        8% 42%,
        4% 42%,
        4% 61%,
        17% 61%,
        17% 12%,
        26% 12%,
        26% 63%,
        73% 63%,
        73% 43%,
        90% 43%,
        90% 67%,
        50% 67%,
        50% 41%,
        42% 41%,
        42% 46%,
        50% 46%,
        50% 84%,
        96% 84%,
        96% 78%,
        49% 78%,
        49% 25%,
        63% 25%,
        63% 14%
      );
    }
  
    90% {
      clip-path: polygon(
        0% 41%,
        13% 41%,
        13% 6%,
        87% 6%,
        87% 93%,
        10% 93%,
        10% 13%,
        89% 13%,
        89% 6%,
        3% 6%,
        3% 8%,
        16% 8%,
        16% 79%,
        0% 79%,
        0% 99%,
        92% 99%,
        92% 90%,
        5% 90%,
        5% 60%,
        0% 60%,
        0% 48%,
        89% 48%,
        89% 13%,
        80% 13%,
        80% 43%,
        95% 43%,
        95% 19%,
        80% 19%,
        80% 85%,
        38% 85%,
        38% 62%
      );
    }
  
    1%,
    7%,
    33%,
    47%,
    78%,
    93% {
      clip-path: none;
    }
  }
  
  .movement {
    /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
    position: relative;
    animation: movement 8s step-end infinite;
  }
  
  @keyframes movement {
    0% {
      top: 0px;
      left: -20px;
    }
  
    15% {
      top: 10px;
      left: 10px;
    }
  
    60% {
      top: 5px;
      left: -10px;
    }
  
    75% {
      top: -5px;
      left: 20px;
    }
  
    100% {
      top: 10px;
      left: 5px;
    }
  }
  
  .opacity {
    animation: opacity 5s step-end infinite;
  }
  
  @keyframes opacity {
    0% {
      opacity: 0.1;
    }
  
    5% {
      opacity: 0.7;
    }
  
    30% {
      opacity: 0.4;
    }
  
    45% {
      opacity: 0.6;
    }
  
    76% {
      opacity: 0.4;
    }
  
    90% {
      opacity: 0.8;
    }
  
    1%,
    7%,
    33%,
    47%,
    78%,
    93% {
      opacity: 0;
    }
  }
  
  .font {
    animation: font 7s step-end infinite;
  }
  
  @keyframes font {
    0% {
      font-weight: 100;
      color: #e0287d;
      filter: blur(3px);
    }
  
    20% {
      font-weight: 500;
      color: #fff;
      filter: blur(0);
    }
  
    50% {
      font-weight: 300;
      color: #1bc7fb;
      filter: blur(2px);
    }
  
    60% {
      font-weight: 700;
      color: #fff;
      filter: blur(0);
    }
  
    90% {
      font-weight: 500;
      color: #e0287d;
      filter: blur(6px);
    }
  }
  
  .glitch {
    animation: paths 5s step-end infinite;
  }
  
  .glitch::before {
    animation: paths 5s step-end infinite, opacity 5s step-end infinite,
      font 8s step-end infinite, movement 10s step-end infinite;
  }
  
  .glitch::after {
    animation: paths 5s step-end infinite, opacity 5s step-end infinite,
      font 7s step-end infinite, movement 8s step-end infinite;
  }
  
  .hero-container {
    position: relative;
    
  }
  
  .environment {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    filter: blur(5px);
  
  }